.cartOpenBtn {
  background: #fff;
  padding: 8px 12px;
  color: #fe844b;
  border-radius: 100%;
  box-shadow: 1px 1px 1px 1px #f4f4f4;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  margin: 0;
}
.cartOpenBtn:hover {
  box-shadow: 1px 1px 1px 1px #ccc;
}
.deleteCartBtn {
  position: absolute;
  right: 2%;
}
.cartTotal,
.subTotal {
  padding: 10px;
  border: thin solid #eee;
  box-shadow: 5px 5px 5px 1px #eee;
  margin: 10px 0px;
}
.cartItem {
  border: thin solid #eee !important;
  box-shadow: 5px 5px 5px 1px #eee;
}
.totalCartQty {
  position: absolute;
  top: 38px;
  background: #fe844b;
  padding: 5px 8px;
  border-radius: 100%;
  font-size: 10px;
  color: white;
}
