.cartOpenBtn {
  /* position: fixed; */
  /* right: 2%; */
  /* bottom: 2%; */
  /* position: absolute; */
  /* left: auto !important; */
  /* right: 4%; */
  color: #4163ef;
}
.deleteCartBtn {
  position: absolute;
  right: 2%;
}
.cartTotal,
.subTotal {
  padding: 10px;
  border: thin solid #eee;
  box-shadow: 5px 5px 5px 1px #eee;
  margin: 10px 0px;
}
.cartItem {
  border: thin solid #eee !important;
  box-shadow: 5px 5px 5px 1px #eee;
}
