.card-img-top {
  height: 300px;
}

.products .card {
  transition: 0.5s;
  cursor: pointer;
  border: thin solid #eee;
}
.products .card:hover {
  box-shadow: 0px 0px 5px 2px #ccc;
}

.productDiscCost {
  position: absolute;
  bottom: 28%;
  right: 10%;
  background: white;
  box-shadow: 1px 1px 5px 2px #ccc;
  padding: 2px 10px;
  border-radius: 15px;
}
.products .productDesc {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

div.scrollmenu {
  overflow: auto;
  white-space: nowrap;
}

div.scrollmenu a {
  display: inline-block;
  background-color: #ffaa2b;
  color: #000;
  text-align: center;
  padding: 5px 10px;
  text-decoration: none;
  font-size: 14px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px 0px #ccc;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}

div.scrollmenu a:hover {
  background-color: #4163ef;
  color: white;
}

.qty_cost_bg {
  background: transparent !important;
  border: 0 !important;
  text-align: right;
  width: 100%;
}
.add_to_cart {
  float: right;
}

/* resposnive code  */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .productDiscCost {
    bottom: 40%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .productDiscCost {
    bottom: 37%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .productDiscCost {
    bottom: 31%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .productDiscCost {
    bottom: 31%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .productDiscCost {
    bottom: 29%;
  }
}
