.card-img-top {
  height: 300px;
}

.products .card {
  transition: 0.5s;
  cursor: pointer;
  border: thin solid #eee;
}
.products .card:hover {
  box-shadow: 0px 0px 5px 2px #ccc;
}

.productDiscCost {
  position: absolute;
  bottom: 21%;
  right: 10%;
  background: white;
  box-shadow: 1px 1px 5px 2px #ccc;
  padding: 2px 10px;
  border-radius: 15px;
}
.products .productDesc {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

div.scrollmenu {
  background-color: #ffaa2b;
  overflow: auto;
  white-space: nowrap;
}

div.scrollmenu a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

div.scrollmenu a:hover {
  background-color: #4163ef;
}
