body {
  margin: 0;
  font-family: "Roboto", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-image: linear-gradient(174.2deg, rgba(255, 244, 228, 1) 7.1%, rgba(240, 246, 238, 1) 67.4%); */
}
/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

a {
  text-decoration: none;
}
.btn-primary {
  --bs-btn-color: #fff !important;
  --bs-btn-bg: #126e63 !important;
  --bs-btn-border-color: #126e63 !important;
  --bs-btn-hover-color: #fff !important;
  --bs-btn-hover-bg: #126e63 !important;
  --bs-btn-hover-border-color: #126e63 !important;
  --bs-btn-focus-shadow-rgb: 49, 132, 253 !important;
  --bs-btn-active-color: #fff !important;
  --bs-btn-active-bg: #126e63 !important;
  --bs-btn-active-border-color: #126e63 !important;
  --bs-btn-active-shadow: inset 0 3px 5pxrgba (0, 0, 0, 0.125) !important;
  --bs-btn-disabled-color: #fff !important;
  --bs-btn-disabled-bg: #126e63 !important;
  --bs-btn-disabled-border-color: #126e63 !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus {
  box-shadow: 0 8px 9px -4px #126e6382, 0 4px 18px 0 rgb(59 113 202 / 20%) !important;
}
.navbar-light .navbar-toggler-icon {
  background-image: transparent !important;
}
