.nav-bg {
  background: rgb(200, 234, 137);
  background: linear-gradient(180deg, rgba(200, 234, 137, 1) 0%, rgba(200, 234, 137, 1) 35%, rgba(255, 255, 255, 1) 100%);

  font-weight: bold;
}

.nav-bg .container a,
.nav-bg .container p {
  color: #4163ef;
}

.loginNavLink {
  position: absolute;
  left: auto !important;
  right: 0px;
}

.loginNavLink {
  background: #fff;
  padding: 8px 12px;
  color: #fe844b;
  border-radius: 100%;
  box-shadow: 1px 1px 1px 1px #f4f4f4;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  margin: 0px;
}
.loginNavLink:hover {
  box-shadow: 1px 1px 1px 1px #ccc;
}
